body,html{
    background-color: #fff;
    font-family: 'Playfair Display',serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}
*{
    text-decoration: none !important;
}

.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: goldenrod;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color:black;
}
.nav .links .mainlink{
    color: #e0501b;
}
.nav .links a:hover{
    color:azure;
}
.nav .links .button{
    padding: 8.5px 34px;
    margin-left: 65px;
    display: inline-block;
    padding: 10.5px;
    font-size: 14px;
    color: black;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    border: 1px solid #000;
    font-family: 'Playfair Display',serif;
}
.nav .links .button:hover{
    color:black;
}

/*Landing css*/
.landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}
.landingText h1{
    font-size: 3vw;
    margin: 0 !important;
}
.landingText h3{
    margin: 6px;
    font-size: 15px;
    line-height: 1.8;
    color: #e0501b;
    font-family: 'Playfair Display', serif;
    padding-right: 20px;
}
.landingText .btn{
    width: 120px;
    margin-top: 30px;
    padding: 14px 20px 12px 20px;
    background-color: black;
    border-radius: 45px;
    text-align: center;
}
.landingText .btn a{
    font-size: 1.2vw;
    color: azure;
}
.landingImage img{
    width: 38;
}

/*SErvice css*/
.About{
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.AboutText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}
.AboutText h1{
    position: relative;
    left: 110px;
}
.AboutText img{
    width: 50vw;
    position: left;
    top: 40px;
}
.Aboutlist{
    width: 50%;
}
ol{
    list-style: none;
    color: black;
}
ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #777777;
}
li p{
    font-size: 16px;
    color: black;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}
li span{
    position:absolute;
    line-height: 25px;
    font-weight: 600;
}
/*INFO SEC*/
.InfoSection{
    height: 600px;
}
.InfoHeader{
    text-align: center;
    margin-bottom: 40px;
}
.InfoCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}
.InfoCards .card{
    position: relative;
    height: 360px;
    width: 360px;
    background: #fff;
    box-shadow: 0 10px 22px rgba(0,0,0,0.9),0 10px 10px rgba(0,0,0,0.09);
}
.InfoCards .one .cardoneImg{
    width: 150px;
    position: absolute;
    top: -50px;
    right: -50px;
}
.InfoCards .Two .cardTwoImg{
    width: 150px;
    position: absolute;
    top: -50px;
    right: -50px;
}
.InfoCards .Three .cardThreeImg{
    width: 150px;
    position: absolute;
    top: -50px;
    right: -30px;
}
.cardbgone{
    height: 150px;
    background-color: #fff;
}
.cardbgtwo{
    height: 150px;
    background-color: #fff;
}
.cardbgthree{
    height: 150px;
    background-color: #fff;
}
.cardcontent{
    padding: 0 20px;
}
.cardcontent p{
    line-height: 30px;
    opacity: 0.6;
}
.cardcontent .cardBtn{
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: rgb(233, 234, 236);
    width: 25px;
    height: 20px;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .2s;
}
.cardcontent .cardBtn:hover{
    background-color: #777777;
}
.cardcontent .cardBtn .cardIcon{
    position: relative;
    top: 0px;
    left: 0px;
    width: 16px;
}

/*banerr*/
.banner{
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.bannerText h1{
    font-size: 3vw;
    color: black;
    font-weight: 600;
}
.bannerText img{
    width: 10vw;
    margin-right: 20px;
}
.bannerimg img{
    width: 20vw;
}
/* footer css*/
.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.footerlinks a{
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.footerlinks .mainlink{
    color: #e0501b;
}
.footer a:hover{
    color: blanchedalmond;
}


/*responsive*/
@media only screen and (max-width: 600px){
    .nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }
    .nav h4{
        font-size: 6vw;
        margin-top: 10px;
        margin-bottom: 14px;
    }
    .nav .links a{
        margin-right: 25px;
        font-size: 12px;
        font-weight: 600;
    }
    /*landing css*/
    .landing{
        flex-direction: column-reverse;
        height: 750px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .landingText h1{
        font-size: 6vw;
        margin: 0 !important;
    }
    .landingText h3{
        font-size: 16px;
    }
    .landingText .btn{
        font-size: 3vw;
    }
    .landingImage img{
        width: 52vw;
        margin-bottom: 20px;
    }
    /*service sec*/
    .About{
        height:auto;
        padding: 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutText{
        padding: 0 50px;
        height: 100px;
    }
    .AboutText h1{
        left: 40px;
        font-size: 5vw;
    }
    .AboutText img{
        width:16vw;
        top: 10px;
        left: -30px;
    }
    .Aboutlist {
        width: 75%;
    }
    ol li{
        font-size: 26px;

    }
    li p{
        font-size: 14px;
    }
    .InfoSection{
        height: auto;
    }
    .InfoHeader{
        text-align: center;
        margin: 40px 0;
    }
    .InfoCards{
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .InfoCards .card{
        margin-bottom: 60px;
    }
    /* banner*/
    .banner{
        height: auto;
        flex-direction: column-reverse;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner h1{
        font-size: 6vw;
    }
    .bannerInnerText{
        font-size: 3vw !important;
    }
    .bannerTextwid{
        width: 20vw;
    }
    .bannerimg img{
        width:26vw;
    }
    /* footerr*/
    .footer{
        padding-bottom: 40px;
    }
}
